[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "==1.4.4"
bandit = "==1.6.2"
coverage = "*"
invoke = "*"
nose = "*"
pylint = "==2.4.2"
pytest = "==5.2.1"
safety = "==1.8.7"
schema = "==0.7.1"
setuptools = "*"
wheel = "==0.33.6"

[packages]
click_log = "==0.3.2"
click = "==7.1.1"

[requires]
python_version = "3.7"
